.booooo {
  content: "booooo";
  background-color: #b00000;
}

.boiled {
  content: "boiled";
  background-color: #b011ed;
}

.loaded {
  content: "loaded";
  background-color: #10aded;
}

.loafed {
  content: "loafed";
  background-color: #10afed;
}

.fooled {
  content: "fooled";
  background-color: #f001ed;
}

.beside {
  content: "beside";
  background-color: #be51de;
}

.coffee {
  content: "coffee";
  background-color: #c0ffee;
}

.cicada {
  content: "cicada";
  background-color: #c1cada;
}

.efface {
  content: "efface";
  background-color: #efface;
}

.deface {
  content: "deface";
  background-color: #deface;
}

.salsas {
  content: "salsas";
  background-color: #5a15a5;
}

.locale {
  content: "locale";
  background-color: #10ca1e;
}

.locals {
  content: "locals";
  background-color: #10ca15;
}

.foible {
  content: "foible";
  background-color: #f01b1e;
}

.fables {
  content: "fables";
  background-color: #fab1e5;
}

.fabled {
  content: "fabled";
  background-color: #fab1ed;
}

.bolded {
  content: "bolded";
  background-color: #b01ded;
}

.scalds {
  content: "scalds";
  background-color: #5ca1d5;
}

.office {
  content: "office";
  background-color: #0ff1ce;
}

.dolled {
  content: "dolled";
  background-color: #d011ed;
}

.called {
  content: "called";
  background-color: #ca11ed;
}

.bodies {
  content: "bodies";
  background-color: #b0d1e5;
}

.bodied {
  content: "bodied";
  background-color: #b0d1ed;
}

.saddle {
  content: "saddle";
  background-color: #5add1e;
}

.beaded {
  content: "beaded";
  background-color: #beaded;
}

.boards {
  content: "boards";
  background-color: #b0ard5;
}

.afield {
  content: "afield";
  background-color: #af1e1d;
}

.fiddle {
  content: "fiddle";
  background-color: #f1dd1e;
}

.coifed {
  content: "coifed";
  background-color: #c01fed;
}

.ideals {
  content: "ideals";
  background-color: #1dea15;
}

.cabled {
  content: "cabled";
  background-color: #cab1ed;
}

.ladled {
  content: "ladled";
  background-color: #1ad1ed;
}

.ladles {
  content: "ladles";
  background-color: #1ad1e5;
}

.allied {
  content: "allied";
  background-color: #a111ed;
}

.ladies {
  content: "ladies";
  background-color: #1ad1e5;
}

.scaled {
  content: "scaled";
  background-color: #5ca1ed;
}

.defile {
  content: "defile";
  background-color: #def11e;
}

.leafed {
  content: "leafed";
  background-color: #1eafed;
}

.belied {
  content: "belied";
  background-color: #be11ed;
}

.edible {
  content: "edible";
  background-color: #ed1b1e;
}

.belief {
  content: "belief";
  background-color: #be11ef;
}

.defied {
  content: "defied";
  background-color: #def1ed;
}

.cables {
  content: "cables";
  background-color: #cab1e5;
}

.baffle {
  content: "baffle";
  background-color: #baff1e;
}

.decafs {
  content: "decafs";
  background-color: #decaf5;
}

.facial {
  content: "facial";
  background-color: #fac1a1;
}

.access {
  content: "access";
  background-color: #acce55;
}

.ceases {
  content: "ceases";
  background-color: #cea5e5;
}

.ceased {
  content: "ceased";
  background-color: #cea5ed;
}

.scales {
  content: "scales";
  background-color: #5ca1e5;
}

.scaled {
  content: "scaled";
  background-color: #5ca1ed;
}

.fossae {
  content: "fossae";
  background-color: #f055ae;
}

.social {
  content: "social";
  background-color: #50c1a1;
}

.basils {
  content: "basils";
  background-color: #ba5115;
}

.abbess {
  content: "abbess";
  background-color: #abbe55;
}

.solids {
  content: "solids";
  background-color: #5011d5;
}

.fossil {
  content: "fossil";
  background-color: #f05511;
}

.lassos {
  content: "lassos";
  background-color: #1a5505;
}

.aoilis {
  content: "aiolis";
  background-color: #a10115;
}

.lassie {
  content: "lassie";
  background-color: #1a551e;
}

.aisles {
  content: "aisles";
  background-color: #a151e5;
}

.salads {
  content: "salads";
  background-color: #5a1ad5;
}

.scolds {
  content: "scolds";
  background-color: #5c01d5;
}

.dossil {
  content: "dossil";
  background-color: #d05511;
}

.oldies {
  content: "oldies";
  background-color: #01d1e5;
}

.slides {
  content: "slides";
  background-color: #511de5;
}

.siloed {
  content: "siloed";
  background-color: #5110ed;
}

.babies {
  content: "babies";
  background-color: #bab1e5;
}

.bobble {
  content: "bobble";
  background-color: #b0bb1e;
}

.babble {
  content: "babble";
  background-color: #babb1e;
}

.babied {
  content: "babied";
  background-color: #bab1ed;
}